
body {
    /* background-color: black; */
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('image/pic2.jpg'); 
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button{
    width: 100px;
}
.carousel-item{
    width: auto;
    height: auto;
    position: relative;
}

#carouselExampleControls .carousel slide{
    margin: auto;
    max-width: auto;

}
#carouselExampleControls .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}
.container{
    margin: 25;
    width: 100px;
}
.container-fluid{
    width: 100px;
}
.form d-flex{
    margin: right auto;
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgba(7,40,195,0.8);
    max-width:360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 24px;
}
.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.form button:hover, .form button:active{
    background: lightgreen;
    color: black;
}
.form .message{
    margin: 15px 0 0 0;
    color: aliceblue;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.form .registration-form{
    display: none;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
nav {
    width: 100%;
    height: 60px;
    background-color: mediumturquoise;
    font-size: 14px;
    color:black;
}
ul {
    margin-left: 60px;
}

ul li {
    display: inline-block;
    /*float: left;*/
    line-height: 100px;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family:-Arial;
    color: black;
    padding: 0 20px;

}

ul li a:hover{
    color: red;

}



h1 {
    color: lightskyblue;
    font-size: 70px;
    margin: 0px;
    background-color: gray;
    text-align: center;
} 


/* . denotes a class in css */

/* # denotes an id tag in css */
.row 
{

}